<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create new poll</title>
    <!-- Sematic UI CSS minified -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
    <!-- Sematic UI Javascript minified -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
    <!-- JQuery Javascript minified -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="ui container">
        <h1 class="ui centered header">Vote</h1>
        <div class="ui container center aligned">
            <div class="ui segment">
                <div class="ui mini steps">
                    <div class="active step">
                        <i class="add circle icon"></i>
                        <div class="content">
                            <div class="title">Create</div>
                            <div class="description">Enter your polling data</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="checkmark icon"></i>
                        <div class="content">
                            <div class="title">Confirm</div>
                            <div class="description">Confirm your choices</div>
                        </div>
                    </div>
                    <div class="disabled step">
                        <i class="share alternate icon"></i>
                        <div class="content">
                            <div class="title">Share</div>
                            <div class="description">Share your poll</div>
                        </div>
                    </div>
                </div>
                <div class="ui two column centered grid">
                    <div class="column">
                        <form class="ui form">
                            <div class="inline fields">
                                <div class="twelve wide field">
                                    <a class="ui blue circular label">1</a>
                                    <input type="text" name="option-one" placeholder="Option 1">
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="twelve wide field">
                                    <a class="ui blue circular label">2</a>
                                    <input type="text" name="option-two" placeholder="Option 2">
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="twelve wide field">
                                    <a class="ui blue circular label">3</a>
                                    <input type="text" name="option-three" placeholder="Option 3">
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="twelve wide field">
                                    <a class="ui blue circular label">4</a>
                                    <input type="text" name="option-four" placeholder="Option 4">
                                </div>
                            </div>
                            <div class="inline fields">
                                <div class="twelve wide field">
                                    <a class="ui blue circular label">5</a>
                                    <input type="text" name="option-five" placeholder="Option 5">
                                </div>
                            </div>
                            <button class="ui primary button">
                                Save
                            </button>
                            <button class="ui button">
                                Discard
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>