{{ define "steps" }}

<div class="ui top attached mini steps">
    <div class="active step">
        <i class="add circle icon"></i>
        <div class="content">
            <div class="title">Create</div>
            <div class="description">Enter your polling data</div>
        </div>
    </div>
    <div class="step">
        <i class="checkmark icon"></i>
        <div class="content">
            <div class="title">Confirm</div>
            <div class="description">Confirm your choices</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="share alternate icon"></i>
        <div class="content">
            <div class="title">Share</div>
            <div class="description">Share your poll</div>
        </div>
    </div>
</div>

{{ end }}
